<nav class="navigation">
  <ul>
    <li><a href="{{ '/' | relative_url }}" {% if page.url == '/' %}class="active"{% endif %}>Início</a></li>
    <li><a href="{{ '/posts.html' | relative_url }}" {% if page.url == '/posts.html' %}class="active"{% endif %}>Posts</a></li>
    <li><a href="{{ '/avaliacoes.html' | relative_url }}" {% if page.url == '/avaliacoes.html' %}class="active"{% endif %}>Avaliações</a></li>
    <li><a href="{{ '/sobre.html' | relative_url }}" {% if page.url == '/sobre.html' %}class="active"{% endif %}>Sobre</a></li>
    <li><a href="{{ '/busca/' | relative_url }}" {% if page.url == '/busca/' %}class="active"{% endif %}>Busca</a></li>
  </ul>
</nav>

